<div class="chat-window-header">
  {{receiverName}}
</div>
<div class="message-history">
  <div class="messages">
    <ng-container *ngFor="let message of messages">
      <div *ngIf="message.sentBy === senderId" class="sent">
        {{message.message}}
        <div class="timestamp">
          {{message.timeStamp}}
        </div>
      </div>
      <div *ngIf="message.sentBy === receiverId" class="received">
        {{message.message}}
        <div class="timestamp">
          {{message.timeStamp}}
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div class="user-input">
  <input type="text" [(ngModel)]="message" placeholder="..." (keyup.enter)="sendMessage()"/>
  <button type="button" (click)="sendMessage()">
    <img src="../../../assets/send.svg" alt="">
  </button>
</div>
